<!-- about.html-->

{% extends "base.html" %}
{% block title %}About BookNotes{% endblock %}
{% block body %}
<div class="jumbotron">
  <h1>About BookNotes</h1>
  <p class="lead">BookNotes is a convenient way to store and manage your book notes. Have you already added some?</p>
</div>
{% endblock %}