<!-- create.html-->

{% extends "base.html" %}
{% block title %}Add New BookNote{% endblock %}
{% block body %}
<div class="jumbotron">
  <h1>Add new BookNote</h1>
  <p class="lead">
    <form action="{{ url_for('create') }}" method="POST">
      <div class="form-group">
        <label for="author">Author</label>
        <input type="text" class="form-control" name="author" placeholder="Enter the name of the book author">
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" placeholder="Enter the title of the book">
      </div>
      <div class="form-group">
        <label for="notes">Notes</label>
        <textarea class="form-control" name="notes" placeholder="Enter your notes" rows="3"></textarea>
      </div>
      <input type="submit" class="btn btn-default" name="cancel-btn" value="Cancel">
      <input type="submit" class="btn btn-primary" name="submit-btn" value="Save">
    </form>
  </p>
</div>
{% endblock %}