<!-- details.html-->

{% extends "base.html" %}
{% block title %}BookNote{% endblock %}
{% block body %}
<div class="jumbotron">
  <h1>View BookNote</h1>
  <p class="lead">
    <form action="{{ url_for('details', book_id=book.id) }}" method="POST">
      <div class="form-group">
        <label for="author">Author</label>
        <input type="text" class="form-control" name="author" value="{{ book.author }}" readonly>
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" value="{{ book.title }}" readonly>
      </div>
      <div class="form-group">
        <label for="notes">Notes</label>
        <textarea class="form-control" name="notes" rows="3" readonly>{{ book.notes }}</textarea>
      </div>
      <input type="submit" class="btn btn-default" name="cancel-btn" value="Back">
      <input type="submit" class="btn btn-primary" name="edit-btn" value="Edit">
      <input type="submit" class="btn btn-primary" name="delete-btn" value="Delete">
    </form>
  </p>
</div>
{% endblock %}