<!-- index.html-->

{% extends "base.html" %}
{% block title %}BookNotes{% endblock %}
{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-success alert-dismissible">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<div class="jumbotron">
  <h1>BookNotes</h1>
  <p class="lead">
    <form action="{{ url_for('create') }}" method="GET">
      <button type="submit" class="btn btn-primary">Add new BookNote</button>
    </form>
  </p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="col-xs-1">#</th>
        <th scope="col" class="col-xs-4">Author</th>
        <th scope="col" class="col-xs-4">Title</th>
        <th scope="col" class="col-xs-1"></th>
        <th scope="col" class="col-xs-1"></th>
        <th scope="col" class="col-xs-1"></th>
      </tr>
    </thead>
    <tbody>
      {% for index, book in books %}
      <tr>
        <th scope="row">{{ index }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.title }}</td>
        <td>
          <form action="{{ url_for('details', book_id=book.id) }}" method="GET">
            <button type="submit" class="btn btn-primary btn-sm">
              <span class="glyphicon glyphicon-zoom-in"></span> View BookNote
            </button>
          </form>
        </td>
        <td>
          <form action="{{ url_for('update', book_id=book.id) }}" method="GET">
            <button type="submit" class="btn btn-primary btn-sm">
              <span class="glyphicon glyphicon-pencil"></span> Edit
            </button>
          </form>
        </td>
        <td>
          <form action="{{ url_for('delete', book_id=book.id) }}" method="GET">
            <button type="submit" class="btn btn-primary btn-sm">
              <span class="glyphicon glyphicon-trash"></span> Remove
            </button>
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}