<!-- update.html-->

{% extends "base.html" %}
{% block title %}Edit BookNote{% endblock %}
{% block body %}
<div class="jumbotron">
  <h1>Edit BookNote</h1>
  <p class="lead">
    <form action="{{ url_for('update', book_id=book.id) }}" method="POST">
      <div class="form-group">
        <label for="author">Author</label>
        <input type="text" class="form-control" name="author" placeholder="Enter the name of the book author" value="{{ book.author }}">
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" placeholder="Enter the title of the book" value="{{ book.title }}">
      </div>
      <div class="form-group">
        <label for="notes">Notes</label>
        <textarea class="form-control" name="notes" placeholder="Enter your notes" rows="3">{{ book.notes }}</textarea>
      </div>
      <input type="submit" class="btn btn-default" name="cancel-btn" value="Cancel">
      <input type="submit" class="btn btn-primary" name="submit-btn" value="Save">
    </form>
  </p>
</div>
{% endblock %}